<!DOCTYPE html>
<html 
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layout/basicLayout}">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" />
</head>

<div class="site-section" id="properties-section"  layout:fragment="content">
	<br><br><br><br><br>
<div class="container">
	<div class="col-sm-6 well">
		<h3>MY INFO</h3>
		<form method="post" th:action="@{/member/join}" id="f1">
			<div class="form-group">
				<label>id</label>
				<input type="text" name="userid" class="form-control form-control-user"
					id="userid" th:value="${memberInfo.userid}">
			</div>
			<div class="form-group">
				<label>password</label>
				<input type="password" name="userpw" class="form-control form-control-user"
					id="userpw" th:value="${memberInfo.userpw}">
			</div>
            <div class="form-group">
				<label>name</label>
				<input type="text" name="username" class="form-control form-control-user"
					id="username" th:value="${memberInfo.username}">
			</div>
            <div class="form-group">
				<label>email</label>
				<input type="text" name="email" class="form-control form-control-user"
					id="email" th:value="${memberInfo.email}">
			</div>
            <div class="form-group">
				<label>tel</label>
				<input type="text" name="tel" class="form-control form-control-user"
					id="tel" th:value="${memberInfo.tel}">

			</div>
            <div class="form-group">
				<label>main language</label>
				<input type="text" name="mlang" class="form-control form-control-user"
					id="mlang" th:value="${memberInfo.mlang}">
			</div>
			<br>
		</form>
		<hr>
	</div>
</div>

</div>
